*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --cell-size: 200px; /*allows you to create a variable in CSS that you can use throughout the document*/
    --mark-size: calc(var(--cell-size)*.9); /*this says that the mark will be 90% of the cell sze, whih is currently set to 100px, but changing the cell size will change the size of the mark*/
}
body{
    margin: 0px;
}
div{
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
div h1{
    color: black;
    /* position: fixed; */
    font-size: 6rem;

}
.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}
/* **************************** CELLS ***********************************/
.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;

}
.cell:nth-child(3n + 1){
    border-left: none;
}
.cell:nth-child(3n + 3){
    border-right: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
    border-bottom: none;

}
.cell.x,
.cell.circ{
    cursor: not-allowed;
}
/********************************* X cells ********************************/
.cell.x::before,
.cell.x::after{
    background-color:red;
}
 .cell.circ::before{
    background-color: black;
}


.board .cell:not(.x):not(.circ):hover::before,
.board .cell:not(.x):not(.circ):hover::after,
.board.circ .cell:not(.x):not(.circ):hover::before
{
    background-color: lightgrey;
}

.cell.x::before, /*the ::before and ::after add-ons allow you to create a psuedo element, the X and O are created completely from CSS*/
.cell.x::after,
.board.x .cell:not(.x):not(.circ):hover::before, /*the ".not()" operator basically allows you to say " what ever cell that is NOT currently an x or o apply the hover affect to it*/
.board.x .cell:not(.x):not(.circ):hover::after{
    content:'';
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
    position: absolute;
}
.cell.x::before,
.board.x .cell:not(.x):not(.circ):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circ):hover::after{
    transform: rotate(-45deg);
}

/******************************* O cells **********************************/
.cell.circ::before, 
.cell.circ::after,
.board.circ .cell:not(.x):not(.circ):hover::before, 
.board.circ .cell:not(.x):not(.circ):hover::after{
    content:'';
    width: var(--mark-size);
    height: var(--mark-size);
    position: absolute;
    border-radius: 50%;

}
.cell.circ::before,
.board.circ .cell:not(.x):not(.circ):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);

}
.cell.circ::after,
.board.circ .cell:not(.x):not(.circ):hover::after{
    width: calc( var(--mark-size)* .7);
    height: calc( var(--mark-size)* .7);
    background-color: white;

}

/* **************************** BUTTON ***********************************/

.winning-message{
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);
   
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction:column;
    
}
.winning-message button{
    font-size: 2rem;
    background-color: white;
    border: 5px solid black;
    padding: .25em .5em;
    border-radius: 50px;
}

.winning-message button:hover{
    background-color: black;
    border: 5px solid darkgoldenrod;
    color: darkgoldenrod;
}

.winning-message.show{
    display:flex;
    height: 100vh;
    width: 100vw;
}