
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}


body{
    display: flex;
    height: 800px;
    width: 1440px;
    background-color: hsl(30, 38%, 92%);
    justify-content: space-around;
    padding-top: 15%;
}
.cardCont{
    display: flex;
    width: 49%; /* of body width */
    height: 85%;


}

.productImg{
    display: contents;
    width: 50%;
    height: 100%;
}
#chanel{
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border: 5px solid black; */
}
.productInfo{
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.5em;
    padding: 10px 0 10px 0;
}

h2,h3,p {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}
p{
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.9em;
}
h2{
    padding: 15px 0 15px 0;
    font-size: 14px;
    font-weight: 700;
}
#newPrice{
    color: hsl(158, 36%, 37%);
}
#button{
    background-color:hsl(158, 36%, 37%);
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 10%;
    justify-content: center;
    align-items: center; 
    display:flex;
}

#addTo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
#addTo,
#icon{
    display: inline-flex;
    color: white;
}
#icon{
    padding: 0 10px 0 0;
}

.price{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#oldPrice{
    font-size: 14px;
    font-weight: 100;
}


.attribution{
    display: none;
}