body{
    margin : 0;
    background-color: rgb(29,29,29);
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
}
.note{
    box-sizing: border-box;
    height: 200px;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
}