*{
    box-sizing: border-box;
}

body{
    /* background-color: black; */
    margin: 0;
    background-color: rgb(56,21,124);
    font-family: 'Yantramanav', sans-serif;
    /* padding: 0 5px 0 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.header{
    margin: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(20,47,67);
    border-radius: 2.5px;
    /* position:fixed;
    top: 0px; */
    /* display: flex;
    justify-content: space-between;
    /* box-shadow: white; */
}

/* WELCOME SECTION */
.welcomeSec{
    width: 100%;
    display: flex;
    padding: 60px 5px 5px 5px;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(20,47,67);
    height: auto;
}
.welcomeSec p{
    text-align:center;
    color:white;
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    padding: 10px;
}
.welcome{
    font-size: 5em; 
    text-align: center;
    margin: 0;
    align-items: center;
    color: white;
    /* padding: 25% 0 25% 0; */
}

/* BOUT ME SECTION */
.aboutMe{
    height: auto;
    background-color: rgb(255,171,76);
    padding: 5px;
    display: flex;
    flex-direction: column;

}
.aboutMe h1{
    margin: 0;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: rgb(56,21,124);
    padding-top: 5px;

}
.aboutMe .bioBlurb p{
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    margin: 0;
    text-align: center;
}
.bioBlurb{
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    

}
.pic{
    width: auto;
    height: auto;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pic img{
    border: 5px solid white;
    border-radius: 300px;
    height: 250px;
    width:250px;
}
/* CONTACT ME */
.contactMe{
    height: auto;
    background-color: rgb(255,95,126);
    padding: 35px 0 35px 0;

}
.contactMe h1{
    margin: 0;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: rgb(56,21,124);
}
.links {
    text-decoration: none;
    /* color: white; */
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.links li{
    align-items: center;
    list-style: none;
    border: 3px rgb(255,171,76) solid;
    border-radius: 15px;
}
.button{
    color: white;
    background-color: rgba(0,0,0,0);
    width: 125px;
    height: 45px;
    font-size: 1.5em;
    border: none;
    font-weight: 600;  
}
.links li a{
    text-decoration: none;
}

/* PROJECTS */
.projects{
    height: auto;
    color: white;
    background-color: rgb(176,0,185);
    padding: 20px 0 20px 0;
    /* display: flex; */
}
.projects h1{
    margin: 0;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: rgb(255,171,76);
}
.proj{
    margin: 0;
    gap: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid white;
}
